body
{
	background-color: #ae00b4dc;
	padding-bottom:50px;
}
.Header
{
	width:90%;
	height:100px;
	top:0;
	align-items:center;
}
.header
{
	width:100%;
	height:70%;
	text-align:center;
	margin-left: -10px;
}
.Content
{
	width:100%;
	height:auto;
	align-items:center;
	margin-bottom:20%;
}
.Register
{
	position: absolute;
	width: 40%;
	height:500px;
	right: 5%;
	border: 1px solid black;
	background-color:#f09d95;
	padding-top: 20px;
	font-size: 18;
	margin-top: 30px;
}
.Login
{
	position: absolute;
	border: 1px solid black;
	width : 40%;
	height:500px;
	left : 5%;
	background-color:#f09d95;
	padding-top:20px;
	font-size:18;
	margin-top: 30px;
}

h1
{
	margin-top: 30px;
	text-align:center;
	margin-bottom:60px;
}

.form-input
{
	background-color: #f7d7d4;
    display: flex;
    /*align-items: center;*/
	margin-left: 20%;
	margin-bottom:5px;
	width: 70%;
	height: 30px;
}

.input-feild
{
	color: black;
    background-color: #f7d7d4;
    width: 90%;
    border: none;
    font-size: 1rem;
    font-weight: 400;
	padding-left: 2px;
	text-align: left;
	height:25px;
}
button
{
	width:40%;
	left:30%;
	border-radius:0.5em;
	font-family:'Roboto',sans-serif;
	width:30%;
	height:2.5em;
	left:35%;
	font-size:14;
	position:relative;
	text-align:center;
	margin-top: 40px;
	background-color:#c59de5;
	margin-bottom:20px;
}

button:hover
{
	font-weight:bold;
}
@media (max-width: 800px)
{
	.Register, .Login, .Content
	{
		width:100%;
		position: relative;
		height:auto;
		left:0;
		padding-bottom:20px;
	}
	.Login
	{
		margin-top: 20px;
	}
}
