<!DOCTYPE html>
<html lang="en">
<head>

    <title>IASBS Chat Room</title>
    <link rel="shortcut icon" href="images/logo_smal.PNG">
    <link rel="stylesheet"  type="text/css" href="style/chatRoom.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="chatRoom">
        <div class="header">
            <img src="images/logo.PNG" alt="chat room logo" class="logo">
        </div>
        <div class="contacts">
            <!--inja garare as database behkonim por konim alaki dasti gozashtam inaro-->
            <div class="contact">
                hannah
            </div>
            <div class="contact">
                fatemeh
            </div>
            <div class="contact">
                contactA
            </div>
            <div class="contact">
                contactB
            </div>
            <div class="contact">
                contactC
            </div>
        </div>
        <div class="massenger">
            <div class="sendedMassege">
                hey ! how is evrithing going?
            </div>
            <div class="resivedMassage">
                thanks betch evrithing is fine!
            </div>
            <div class="resivedMassage">
                how you doin?
            </div>
            <div class="textBox">
                <input type="text" type="text"  placeholder="...">
            </div>
        </div>
    </div>
</body>
</html>