<div class="chatRoom">
    <div class="contacts">
        <!--inja garare as database behkonim por konim alaki dasti gozashtam inaro-->
        <div class="contactContainer">
            <div class="contact">
                hannah
            </div>
            <div class="contact">
                fatemeh
            </div>
            <div class="contact">
                contactA
            </div>
            <div class="contact">
                contactB
            </div>
            <div class="contact">
                contactC
            </div>
        </div>
    </div>
    <div class="massenger">
        <div class="massageContainer">
            <div class="sendedMassege">
                hey ! how is evrithing going?
            </div>
            <div class="resivedMassage">
                thanks betch evrithing is fine!
            </div>
            <div class="resivedMassage">
                how you doin?
            </div>
            <div class="sendedMassege">
                hey ! how is evrithing going?
            </div>
            <div class="sendedMassege">
                hey ! how is evrithing going?jhdb jhbfjdhbfjhd  bfjhbfjhbdjfh bjdhbfjd hbfjhdbfjdhfjdhb
            </div>
            <div class="sendedMassege">
                hey ! how is evrithing going?
            </div>
            <div class="resivedMassage">
                thanks betch evrithing is fine!
            </div>
            <div class="resivedMassage">
                how you doin?
            </div>
            <div class="sendedMassege">
                hey ! how is evrithing going?
            </div>
            <div class="sendedMassege">
               hbfjhbdjf hbjdhbfj dhbfjh dbfjdhfjdhb
            </div>
        </div>
        <div class="textBox">
            <input type="text" type="text"  placeholder="...">
        </div>
    </div>
</div>
