<html lang="en">
  <head>
    <title>IASBS Chat Room</title>
    <link rel="shortcut icon" href="/images/logo_smal.PNG">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/style/loginRegister.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="loginRegister">
      <div class="header">
        <img src="i/mages/logo.PNG" alt="chat room logo" class="logo">
      </div>
      <div class="Content">
        <div class="Login">
          <h1>Log In</h1>
          <form action="#">
            <div class="formInput">
              <i class="material-icons"> person </i>
              <input class="inputFeild" type="text" placeholder="Username"/>
            </div>
            <div class="formInput">
              <i class="material-icons">password</i>
              <input class="inputFeild" type="password" placeholder="Password"/>
            </div>
            <button>Sign In</button>
          </form>
        </div>
        <div class="Register">
          <h1>Register</h1>
          <form action="#">
            <div class="formInput">
              <i class="material-icons">email</i>
              <input class="inputFeild" type="text" placeholder="Email">
            </div>
            <div class="formInput">
              <i class="material-icons">person</i>
              <input class="inputFeild" type="text" placeholder="UserName">
            </div>
            <div class="formInput">
              <i class="material-icons">lock</i>
              <input class="inputFeild" type="password" placeholder="Password">
            </div>
            <div class="formInput">
              <i class="material-icons">lock</i>
              <input class="inputFeild" type="password" placeholder="Confirm Password">
            </div>
            <button>Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

     
