<div class="Login">
    <h1>Log In</h1>
    <form action="chatRoom.php" method="post">
        <div class="formInput">
            <i class="material-icons">  </i>
            <input class="inputFeild" type="text" placeholder="Username" id = "uiUsername" required/>
        </div>
        <div class="formInput">
            <i class="material-icons"></i>
            <input class="inputFeild" type="password" placeholder="Password" id="uiPassword" required/>
        </div>
        <button id="uiLogin">Sign In</button>
        <a href="register.php">Register</a>
    </form>
  </div>
