<div class="Register">
    <h1>Register</h1>
    <form action="index.php" method="post">
        <div class="formInput">
            <i class="material-icons"></i>
            <input class="inputFeild" type="text" placeholder="Phone Number with 0" id = "PhoneNumber" required/>
        </div>
        <div class="formInput">
            <i class="material-icons"></i>
            <input class="inputFeild" type="text" placeholder="UserName" id="UserName" required/>
        </div>
        <div class="formInput">
            <i class="material-icons"></i>
            <input class="inputFeild" type="password" placeholder="Password" id="Password" required/>
        </div>
        <div class="formInput">
            <i class="material-icons"></i>
            <input class="inputFeild" type="password" placeholder="Confirm Password" id="Conf_Pass" required/>
        </div>
        <button id="Register">Sign Up</button>
        <a href="index.php">log in</a>
    </form>
</div>

     
