<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/signup.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <!-------------------content------------------->
    <div class="content">
        <form action="signup.php" method="POST">
            <fieldset>
                <div class="field">
                    <div class="caption">
                       <label for="uiName">Name</label>
                    </div>
                    <div class="controls">
                       <input class= "input_c en" type="text" name="uiName" id="uiName" onkeypress="limitCharchters(50, 'uiName',event);" value="<?php echo $uiName_cv; ?>">
                    </div>
                </div>
                <div class="field">
                    <div class="caption">
                       <label for="uiFamily">Family</label>
                    </div>
                    <div class="controls">
                       <input class="input_c en" type="text" name="uiFamily" id="uiFamily" onkeypress="limitCharchters(50, 'uiLastName',event);" value="<?php echo $uiFamily_cv; ?>">
                    </div>
 
                </div>
          
                <div class="field">
                    <div class="caption">
                       <label for="email">Email</label>
                    </div>
                    <div class="controls">
                       <input class="input_c en" type="text" name="uiEmail" id="uiEmail" , onkeypress="validateEmail()" value="<?php echo $uiEmail_cv; ?>">
                    </div>
                    <span class="error" id="uiEmail-error"></span>
                </div>

                <div class="field">
                    <div class="caption">
                       <label for="Username">User Name</label>
                    </div>
                    <div class="controls">
                       <input class="input_c en" name="uiUsername" type="text" id="Username" value="<?php echo $uiUserName_cv; ?>">
                    </div>
                </div>


                <div class="field">
                    <div class="caption">
                       <label for="pass">Password</label>
                    </div>
                    <div class="controls">
                       <input class="input_c en" type="text" name="pass" id="pass" onkeypress="limitCharchters(50,'pass',event); allEnglishCodes(event)">
                    </div>
                   
                </div>


                <div class="field">
                    <div class="caption">
                       <label for="confirmPass">Confirm Password</label>
                    </div>
                    <div class="controls">
                       <input class="input_c en" type="text" name="confirmPass" id="confirmPass">
                    </div>
                </div>
				<div id="errors" class="errors">
				
				</div>
                <div class="btn">
                    <input class="submit"type="btn" name="submit" value="Register" onclick="check()">
                </div>
				<div class="container signin">
					<p>Already have an account? <a href="index.php">Sign in</a>.</p>
				</div>
				
            </fieldset>
        </form>
    </div>
</body>
<script src="../js/signup.js"></script>
</html>